# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env
.env.* 

# Gatsby files
.cache/
public/

# OS / editor junk
.DS_Store
Thumbs.db

# VSCode
.vscode/
